<div class="container">
  <!-- This is the nav -->
  <ul class="navbar transparent navbar-inverse">
    <li class="navbar transparent navbar-inverse">
      <a style="color: white;" href="/Profile">User: <%=userOnline.username%></a>
    </li>

    <div class="nav-item">
      <a class="nav-link" href="/Logout">Logout</a>
    </div>
  </ul>


  <div class="container">
    <div class="text-center">
        <h1 style="color: white" ><%= user.username %> </h1>
        <% if(user.contributing_user) {%> 
            <p style="color: white">This user is a contributing user</p>
        <% } else { %>
             <p style="color: white">This user is a normal user</p>
        <% } %> 
    </div>

    <div>
        <h2 style="color: white">This user has made these reviews</h2>
    </div>

    <div>
        <h4 style="color: white">Movie ratings</h4>
             <ul class="list-group ">
              <% for (var i=0; i < user.ratings.length; i++) { %>
              <form action="/movies/:" id="my_form">

                <!-- This is hidden from the users view -->
                <input
                  style="display: none"
                  type="text"
                  name="movie_id"
                  id="movie_id"
                  value=<%=user.ratings[i].id%>
                />


                <div class="  bg-light  text-center">
                  <button class="good-looking" type="submit" id="search-link">Movie title: <%=user.ratings[i].title%></button>
                  <br>
                  <div class="row justify-content-center search-link">
                    <img src="/images/star.png" width="25" height="25" />
                    <p class="text-muted colour"> &nbsp;<%=user.ratings[i].rating%> / 5</p>
                  </div>

                </div>


              </form>

              <% } %>
            </ul>
    </div>

    <div>
        <h4 style="color: white">Movie Comments</h4>
                    <ul class="list-group">
              <% for (var i=0; i < user.comments.length; i++) { %>
              <form action="/movies/:" id="my_form">

                 <!-- This is hidden from the users view -->
                <input
                  style="display: none"
                  type="text"
                  name="movie_id"
                  id="movie_id"
                  value=<%=user.comments[i].id%>
                />


                <div class="bg-light search-link">

                  <button class="good-looking" type="submit" class="search-link">Movie title: <%=user.comments[i].title%></button>
                  <p class="text-muted"> &nbsp;&nbsp;<%=user.comments[i].comment%></p>
                </div>


              </form>

              <% } %>
            </ul>
    </div>
  </div>
</div>
